/* Pages styling */

.homeContainer {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}

.backgroundFlex {
    background-color: grey;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleContainer {
    padding: 5%;
}

.portrait {
    height:  400px;
}

.outerPointerContainer {
    display: flex;
    justify-content: space-around;
}

.pointer {
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 28px solid #555;
}