/* .App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 62, 2, 0.5);
  font-size: 25px;
  font-family: poppins, sans-serif;
} */

.homeContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}