.project-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* @media screen and (min-width: 768px) {
  .project-gallery {
    grid-template-columns: repeat(3, 300px);
  }
} */

.appContainer {
  height: 100vh;
}

.spacer {
  height: 15%;
}

.portrait {
  height: 600px;
}

.portraitDiv {
  border: 1px limegreen solid;
}

.mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  position: absolute;
  bottom: 0;
}

.imageDiv {
  height: 400px;
  width: 400px;
  background-image: url("./assets/images/memoji.png");
  background-repeat: no-repeat;
}

.masterContainer {
  width: 100vw;
  height: 90vh;
  border: 1px limegreen solid;
  display: inline-flex;
  justify-content: space-evenly;
  text-align: center;

}

.leftContainer {
  border: 1px limegreen solid;
  width: 50%;
}

.rightContainer {
  border: 1px limegreen solid;
  width: 50%;
}

/* Pages styling */

.homeContainer {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

.backgroundFlex {
  background-color: grey;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  padding: 5%;
}

.portrait {
  height:  400px;
}

.outerPointerContainer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 25px;
}

#pointer {
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 0px solid #555;
  transform-origin: bottom center;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out;
  z-index: -1;
}

#pointer.active {
  border-bottom: 28px solid #555;
  transform: scaleY(1);
  z-index: -1;
}

#pointer.not-active {
  border-bottom: 0px;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out
}

/* Navbar styling */

.outerNavContainer {
  display: flex;
  justify-content: space-around;
}

.home {
  width: 50px;
  height: 50px;
}

.projects {
  width: 50px;
  height: 50px;
}

.contact {
  width: 50px;
  height: 50px;
}

/* Wrapper styling */

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.Background {
  background-color: grey;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}