body {
  background: rgb(255,219,88);
  background: linear-gradient(40deg, rgba(255,219,88,1) 0%, rgba(255,160,122,1) 22%, rgba(255,192,203,1) 60%, rgba(196,161,255,1) 100%);
}

.project-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-bottom: 5%;
}

/* @media screen and (min-width: 768px) {
  .project-gallery {
    grid-template-columns: repeat(3, 300px);
  }
} */

.appContainer {
  height: 100vh;
}

/* Pages styling */

.homeContainer {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

.titleContainer {
  padding: 5%;
}

.portrait {
  height:  400px;
  border-radius: 10px;
  border: 4px black solid !important;
  box-shadow: 15px 15px black;
}

.outerPointerContainer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 25px;
}

#pointer {
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 0px solid #555;
  transform-origin: bottom center;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out;
  z-index: -1;
}

#pointer.active {
  border-bottom: 28px solid #555;
  transform: scaleY(1);
  z-index: -1;
}

#pointer.not-active {
  border-bottom: 0px;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out
}

/* Navbar styling */

.outerNavContainer {
  display: flex;
  justify-content: space-around;
}

.home {
  width: 50px;
  height: 50px;
}

.projects {
  width: 50px;
  height: 50px;
}

.contact {
  width: 50px;
  height: 50px;
}

/* Wrapper styling */

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.Background {
  /* background-color: grey; */
  padding: 0 !important;
}

.outerHomeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.button-width {
  width: 100%;
}

.background-container {
  display: flex;
  justify-content: center;
}

.details-container {
  text-align: center;
}

.details-container ul li {
  list-style-type: none;
}

.details-container ul li a {
  text-decoration: none;
  color: inherit;
}

.details-container ul li a:hover {
  text-decoration: underline;
}

.name-email-container {
  display: flex;
  justify-content: center;
}

.name-input {
  margin-bottom: 10px;
}

.email-input {
  margin-bottom: 10px;
}

.subject-container {
  display: flex;
  justify-content: center;
}

.subject-input {
  margin: 10px;
}

.message-container {
  display: flex;
  justify-content: center;
  /* height: 500px; */
}

.message-textarea {
  border: none;
  margin: 10px;
  height: 50vh;
}

.card {
  border: 4px black solid !important;
  box-shadow: 10px 10px black;
}

.card-button {
  border: 3px black solid !important;
  box-shadow: 5px 5px black;
}