/* font-family: 'Lexend Mega', sans-serif;
font-family: 'Public Sans', sans-serif; */

body {
  background: rgb(255,219,88);
  background: linear-gradient(40deg, rgba(255,219,88,1) 0%, rgba(255,160,122,1) 22%, rgba(255,192,203,1) 60%, rgba(196,161,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.project-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-bottom: 5%;
}

/* @media screen and (min-width: 768px) {
  .project-gallery {
    grid-template-columns: repeat(3, 300px);
  }
} */

.nav-outer {
  border-bottom: 3px black solid;
  padding: 15px !important;
}

.navbar-brand {
  font-size: 1.9rem !important;
  font-family: 'Lexend Mega', sans-serif;
}

.nav-ul li {
  border: 3px black solid;
  box-shadow: 5px 5px black;
  border-radius: 3px;
  background-color: #90EE90;
  margin-right: 10px;
  font-family: 'Public Sans', sans-serif;
}

.appContainer {
  height: 100vh;
}

/* Pages styling */

.homeContainer {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

.titleContainer {
  padding: 5%;
  font-family: 'Public Sans', sans-serif;
}

.titleContainer h1 {
  font-size: 4rem;
  font-weight: bold;
}

.titleContainer h2 {
  font-size: 3rem;
  font-weight: medium;
}

.titleContainer h3 {
  font-size: 2rem;
  font-weight: medium;
}

.portrait {
  height:  400px;
  border-radius: 10px;
  border: 4px black solid !important;
  box-shadow: 15px 15px black;
}

.outerPointerContainer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 25px;
}

#pointer {
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 0px solid #555;
  transform-origin: bottom center;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out;
  z-index: -1;
}

#pointer.active {
  border-bottom: 28px solid #555;
  transform: scaleY(1);
  z-index: -1;
}

#pointer.not-active {
  border-bottom: 0px;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out
}

/* Navbar styling */

.outerNavContainer {
  display: flex;
  justify-content: space-around;
}

.home {
  width: 50px;
  height: 50px;
}

.projects {
  width: 50px;
  height: 50px;
}

.contact {
  width: 50px;
  height: 50px;
}

/* Wrapper styling */

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.Background {
  /* background-color: grey; */
  padding: 0 !important;
  margin-top: 150px;
}

.outerHomeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title-container {
  font-family: 'Public Sans', sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(300px);
  gap: 1rem;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.project-title-container div h1 {
  font-weight: bold;
}

.project-title-container div p {
  font-weight: medium;
}

.button-width {
  width: 100%;
}

.background-container {
  display: flex;
  justify-content: center;
}

.details-container {
  text-align: center;
}

.details-container ul li {
  list-style-type: none;
}

.details-container ul li a {
  text-decoration: none;
  color: inherit;
}

.details-container ul li a:hover {
  text-decoration: underline;
}

::placeholder {
  color: black;
}

.name-email-container {

}

.name-input {

}

.email-input {

}

.subject-container {

}

.subject-input {

}

.message-container {

}

.message-textarea {

}

.card {
  border: 4px black solid !important;
  box-shadow: 10px 10px black;
  font-family: 'Public Sans', sans-serif;
}

.card-button {
  border: 3px black solid !important;
  box-shadow: 5px 5px black;
  color: black !important;
  background-color: #87CEEB !important;
}

.card-text {
  text-align: center;
  padding-top: 1.5rem !important;
}

.outer-contact-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-outer-contact-container {

}

.contact-container {
  width: 70vw;
  height: 80vh;
  margin: 0;
  padding: 10px;
  background-color: #87CEEB;
  border-radius: 5px;
  border: 5px black solid;
  box-shadow: 15px 15px black;
}

.title-contact-container {
  background-color: #87CEEB;
  border: 5px black solid;
  box-shadow: 10px 10px black;
  border-radius: 3px;
}

.title-contact-container h1 {
  padding-left: 2%;
}

.contact-list-titles {

}

.contact-list-values {
  direction: rtl;
}

.contact-lists-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.form-contact-container-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-contact-container {
  background-color: #87CEEB;
  border: 5px black solid;
  box-shadow: 10px 10px black;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  margin-top: 0.8rem;
}

.input-container-title {
  margin-left: 10%;
}

.input-container-title h1 {
  font-size: 1rem;
}

.input-container-title h2 {
  font-size: 1rem;
}

.contact-button {
  padding: 0.5rem;
  border: 3px black solid;
  box-shadow: 5px 5px black;
  border-radius: 3px;
  color: black;
  background-color: #90EE90;
  margin-right: 10px;
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
}