.project-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* @media screen and (min-width: 768px) {
  .project-gallery {
    grid-template-columns: repeat(3, 300px);
  }
} */

.appContainer {
  height: 100vh;
}

.spacer {
  height: 15%;
}

/* Pages styling */

.homeContainer {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

.titleContainer {
  padding: 5%;
}

.portrait {
  height:  400px;
}

.outerPointerContainer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 25px;
}

#pointer {
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 0px solid #555;
  transform-origin: bottom center;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out;
  z-index: -1;
}

#pointer.active {
  border-bottom: 28px solid #555;
  transform: scaleY(1);
  z-index: -1;
}

#pointer.not-active {
  border-bottom: 0px;
  transform: scaleY(0);
  transition: transform 0.6s ease-in-out
}

/* Navbar styling */

.outerNavContainer {
  display: flex;
  justify-content: space-around;
}

.home {
  width: 50px;
  height: 50px;
}

.projects {
  width: 50px;
  height: 50px;
}

.contact {
  width: 50px;
  height: 50px;
}

/* Wrapper styling */

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.Background {
  background-color: grey;
  padding: 0 !important;
}

.outerHomeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.button-width {
  width: 100%;
}

.background-container {
  display: flex;
  justify-content: center;
}